h1 {
    color: blue;
    text-align: center;
    text-shadow: 3px 3px yellow;
}

fieldset {
    background-color: cyan;
}

legend {
    background-color: red;
    color: white;
}

button {
    width: 100px;
}

.yellow {
    background-color: yellow;
}
